@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&family=Sora&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Sora', sans-serif;
}

.golden-star {
  color: gold;
}

.swal2-popup {
  font-size: 10px;
  font-family: 'Sora', sans-serif;
  margin-left: 1rem;
}